---
import { FullLayout } from '@/lib/layouts/FullLayout';
import '@/lib/styles/colors.css';
import '@/lib/styles/global.css';
import '@/lib/styles/syntax.css';

// TODO: revert after testing
---
<FullLayout client:only>
  <h1>Could not be found</h1>
</FullLayout>
