---
import { BlogCard, Divider, Typography } from '@/lib/components';
import Page from '@/lib/layouts/page.astro';
import { getCollection } from 'astro:content';

const posts = (await getCollection('posts')).sort((a, z) => +z.data.date - +a.data.date);
const tags = [...new Set(posts.flatMap(post => post.data.tags))].sort();

// TODO: create tools page - https://daleanthony.com/tools
---

<Page
  title="Posts - Harry Barden"
  description="This is a test"
  keywords={`uses, tools, web, software, development, environment, ${tags.join(', ')}`}
  image="/images/og.png"
  type="website"
>
  <section class="mt-12">
    <Typography.Display>My blog 📚</Typography.Display>
    <Typography.Paragraph size="large" variant="subdued" class="mt-8">
      Writing about web development, tooling, linux and developer productivity.
    </Typography.Paragraph>
  </section>
  <Divider size="large" />
  <section class="mt-12" aria-labelledby="latest-posts">
    <Typography.Heading size={'large'} id="latest-posts">Latest posts</Typography.Heading>
  </section>
  <ul class="mt-16">
    {
      posts?.map(post => (
        <li class="mt-14 flex flex-col first:mt-4">
          <BlogCard post={post} />
        </li>
      ))
    }
  </ul>
</Page>
