---
import { BlogCard } from '@/lib/components';
import Page from '@/lib/layouts/page.astro';
import { Blogs } from '@/views/blog';
import { getCollection } from 'astro:content';

const posts = (await getCollection('posts')).sort((a, z) => +new Date(z.data.date) - +new Date(a.data.date));
const tags = [...new Set(posts.flatMap(post => post.data.tags))].sort();
---

<Page
  title="Posts - Harry Barden"
  description="This is a test"
  keywords={`uses, tools, web, software, development, environment, ${tags.join(', ')}`}
  image="/images/og.png"
  type="website"
>
  <Blogs />
  <ul class="mb-16">
    {
      posts?.map(post => (
        <li class="mt-14 flex flex-col first:mt-4">
          <BlogCard slug={post.slug} post={post.data} />
        </li>
      ))
    }
  </ul>
</Page>
