---
import { Divider, MdxComponents, Typography } from '@/lib/components';
import Page from '@/lib/layouts/page.astro';
import { getEntry } from 'astro:content';

// TODO: implement og image for all pages

const uses = await getEntry('uses', 'uses');
const { Content } = await uses.render();
---

<Page
  title="Uses - Harry Barden"
  description="These are the various tools I use that add notable value to me and make me more productive."
  keywords={`uses, tools, web, software, development`}
  image="/images/og.png"
  type="website"
>
  <section class="mt-12">
    <Typography.Display>Uses 🧰</Typography.Display>
    <Typography.Paragraph size="large" variant="subdued" class="mt-8">
      These are the various tools I use that add notable value to me and make me more productive.
    </Typography.Paragraph>
  </section>
  <Divider size="large" />
  <article>
    <Content components={MdxComponents} />
  </article>
</Page>
