---
import { Divider, Typography } from '@/lib/components';
import Page from '@/lib/layouts/page.astro';
// TODO: implement og image for all pages
---

<Page
  title="Uses - Harry Barden"
  description="These are the various tools I use that add notable value to me and make me more productive."
  keywords={`uses, tools, web, software, development`}
  image="/images/og.png"
  type="website"
>
  <section class="mt-12">
    <Typography.Display>Uses 🧰</Typography.Display>
    <Typography.Paragraph size="large" variant="subdued" class="mt-8">
      These are the various tools I use that add notable value to me and make me more productive.
    </Typography.Paragraph>
  </section>
  <Divider size="large" />
  <article class="space-y-12">
    <section class="mt-12" aria-labelledby="editor-terminal">
      <Typography.Heading size={'large'} id="editor-terminal">Editor & Terminal</Typography.Heading>
    </section>
    <section class="mt-12" aria-labelledby="languages">
      <Typography.Heading size={'large'} id="languages">Languages</Typography.Heading>
    </section>
    <section class="mt-12" aria-labelledby="apps">
      <Typography.Heading size={'large'} id="apps">Apps</Typography.Heading>
    </section>
    <section class="mt-12" aria-labelledby="finance">
      <Typography.Heading size={'large'} id="finance">Finance</Typography.Heading>
    </section>
    <section class="mt-12" aria-labelledby="note-taking">
      <Typography.Heading size={'large'} id="note-taking">Note taking</Typography.Heading>
    </section>
    <section class="mt-12" aria-labelledby="hardware">
      <Typography.Heading size={'large'} id="hardware">Hardware</Typography.Heading>
    </section>
    <section class="mt-12" aria-labelledby="misc">
      <Typography.Heading size={'large'} id="misc">Misc</Typography.Heading>
    </section>
  </article>
</Page>
